.error-backdrop {
    background-color: var(--aspire-surface-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

[data-theme="dark"] .error-backdrop {
    background-color: var(--aspire-color-black);
}

.error-container {
    --error: #FF8181;
    background-color: var(--aspire-surface-card);
    padding: calc((var(--design-unit) * 7px));
    border-radius: calc(var(--design-unit) * 3px);
    display: grid;
    grid-column-gap: calc(var(--design-unit) * 5px);
    grid-template-columns: auto 450px;
    grid-template-rows: auto;
    grid-template-areas:
        "logo entry";
    box-shadow: var(--aspire-elevated-card-shadow);
    border: 1px solid var(--aspire-border-subtle);
}

[data-theme="dark"] .error-container {
    box-shadow: var(--aspire-elevated-card-shadow);
}

.error-logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-entry-container {
    grid-area: entry;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--design-unit) * 1px);

}

.version-info {
    position: fixed;
    right: calc(var(--design-unit) * 4px);
    bottom: calc(var(--design-unit) * 3px);
}
