::deep table.main-grid {
    margin-bottom: 1px !important; /* make bottom table row border visible when scrolling */
}

::deep .log-row-critical,
::deep .log-row-critical fluent-button[appearance=lightweight]:not(:hover)::part(control) {
    background-color: var(--log-critical);
}

::deep .log-row-error,
::deep .log-row-error fluent-button[appearance=lightweight]:not(:hover)::part(control) {
    background-color: var(--log-error);
}

::deep .log-row-warning,
::deep .log-row-warning fluent-button[appearance=lightweight]:not(:hover)::part(control){
    background-color: var(--log-warning);
}

::deep .logs-summary-layout {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "main"
        "foot";
}

::deep .logs-summary-layout > .logs-grid-container {
    grid-area: main;
    overflow: auto;
}

::deep .logs-grid-container .main-grid .fluent-data-grid-row:not([row-type='header'],[row-type='sticky-header']) td {
    align-items: center;
    display: flex;
}

::deep .logs-grid-container .main-grid td .container {
    width: 100%;
}

::deep .logs-grid-container .main-grid td .severity-icon {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    height: 16px;
    justify-content: center;
    margin-right: var(--inline-icon-margin);
    vertical-align: middle;
    width: 16px;
}

::deep .wrap {
    text-wrap: wrap;
    white-space: pre-line;
}
